In [1]:
# creating the list using [] function
a = [1,2,4,56,6]
print(a)

[1, 2, 4, 56, 6]

In [5]:
# assecing the first unit of the given list
a = [1,2,4,56,6]
print(a[0])
print(a[4])
print(a[3])

1
6
56

In [7]:
# changing the element in the list
a = [1,2,3,4,5,6,7,8,9,54]
a[0]=2
a[3]=16
print(a)

[2, 2, 3, 16, 5, 6, 7, 8, 9, 54]

In [9]:
# we aan creat list with lines of diff types
c = [45 ,"shubham",True ,45.6]
print(c)

[45, 'shubham', True, 45.6]

In [12]:
# slicing of the list
friends = ["shubham","bharat","trupti","sunanda"]
print(friends[0:4])
print(friends[-4:])

['shubham', 'bharat', 'trupti', 'sunanda']
['shubham', 'bharat', 'trupti', 'sunanda']

In [15]:
# list method (sort)
l = [22,545,1215,121,546513,2154321,54]
l.sort()
print(l)

[22, 54, 121, 545, 1215, 546513, 2154321]

In [18]:
# list method (reverse)
l =[22,545,1215,121,546513,2154321,54]
l.reverse()
print(l)

[54, 2154321, 546513, 121, 1215, 545, 22]

In [19]:
#  list method (append) adding at the end of the list
l =[22,545,1215,121,546513,2154321,54]
l.append(36)
print(l)

[22, 545, 1215, 121, 546513, 2154321, 54, 36]

In [20]:
# #  list method insert 
l =[22,545,1215,121,546513,2154321,54]
l.insert(0,544)
print(l)

[544, 22, 545, 1215, 121, 546513, 2154321, 54]

In [1]:
# list function (pop)
l =[22,545,1215,121,546513,2154321,54]
l.pop(2)
print(l)

[22, 545, 121, 546513, 2154321, 54]

In [2]:
# list function (remove)
l =[22,545,1215,121,546513,2154321,54]
l.remove(121)
print(l)

[22, 545, 1215, 546513, 2154321, 54]

In [ ]:
# python docs to find all mehod and function in python

In [ ]:
#### touples ####
# creating toulpe using () function
# printig the element of touple
# using print(t[0])
# we can not update the values of touple
# t[0]=34 not going to work

In [4]:
a = () #empty touple
# b = (1) wrong way to declare touple with single element 
b =(1,) #touple with only one element need (,) 
c = (1,7,2) #touple with more than one element
print(a)
print(b)
print(c)

()
(1,)
(1, 7, 2)

In [6]:
#  count
# metods of touple occurence of the given elelmeyt will show in the output
a = (1,2,3,4,5,3,8,3,4,3)
print(a.count(1))
print(a.count(3))

1
4

In [13]:
#  index
# metod of touple it will return the index of 1 in a
a = (1,2,3,4,5,3,8,3,4,3)
print(a.index(8))

6

In [ ]:
#### prctice set ####
# list and touple

In [17]:
# que no 1
# make list of sevene fruits and names should be user given
a = input("first name of the friute,  ")
b = input("2nd name of the friute,  ")
c = input("3rd name of the friute,  ")
d = input("4rth name of the friute,  ")
e = input("5th name of the friute,  ")
f = input("6th name of the friute,  ")
g = input("7th name of the friute,  ")
sb = [a,b,c,d,e,f,g]
print(sb)

first name of the friute,  apple
2nd name of the friute,  mango
3rd name of the friute,  jackfruite
4rth name of the friute,  banana
5th name of the friute,  liwi
6th name of the friute,  watermelone
7th name of the friute,  stroberry
['apple ', 'mango', 'jackfruite', 'banana', 'liwi', 'watermelone', 'stroberry']

In [18]:
# que no 2
# accept the marks of 6 student and display it in sorted manner
a = input("1 marks")
b = input("2 marks")
c = input("3 marks")
d = input("4 marks")
e = input("5 marks")
f = input("6 marks")
sb = [a,b,c,d,e,f]
sb.sort()
print(sb)

1 marks5
2 marks6
3 marks8
4 marks7
5 marks3
6 marks4
['3', '4', '5', '6', '7', '8']

In [19]:
# que no 3
# cheaking that touple cannot be change in python
a = (1,2,3,4,5,3,6)
a.(0)=2
print(a)

SyntaxError: invalid syntax (Temp/ipykernel_19564/4087892942.py, line 4)

In [22]:
# que no 4
# sum a list with 4 numbers
a = [1,1,1,1]
print(a[0]+a[1]+a[2]+a[3])
print(sum(a))

4
4

In [24]:
# que no 5
# number of zeros in following touple
a = (7,0,8,0,0,9)
print(a.count(0))

3